:root{
    --blue:#0bdab1;
    --pink:#ff6666;

}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition:all .2s linear;
    
}
h1, h3{
    font-family: 'Oswald', sans-serif;
}

*::selection{
    background:var(--blue);
    color:#fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    /* height:200rem; */
}
html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:var(--blue);
}
.heading{
    text-align: center;
    font-size: 4rem;
    padding:0.5rem;
    color:#333;
}
.btn{
    font-size: 2rem;
    padding:.7rem 4rem;
    border-radius: 5rem;
    margin-top: 1rem;
    background:none;
    color:#333;
    cursor: pointer;
    border:.2rem solid var(--blue);
}

.btn:hover{
    background:var(--blue);
}
header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    width:100%;
    background:#fff;
    padding:1.5rem 10%;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header .logo img{
    height: 50px;
    width: 50px;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
header .navbar ul li{
    margin-left: 3rem;
}

header .navbar ul li a{
    font-size: 1.7rem;
    color:#666;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:var(--pink);
}

header #menu-bar{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    display: none;
}
section{
    min-height: 100vh;
    padding:1rem 10%;
    padding-top: 8.5rem;
}
.home{
    background: linear-gradient(rgba(255,255,255,.4),rgba(255,255,255,.4));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: gold;
     
}

.home .blah1 h1{
    color:#333;
    font-size: 5rem;
}
 .home .blah1 p{
    color:#666;
    font-size: 2.5rem;
    padding:1rem 0;
    text-align:center;
 }
 .home .blah1 form{
    font-size: 2.5rem;
    padding:1rem 0;
    color:#666;
    text-align: center;
   
 }
 .home .blah1 input{
    font-size: 2rem;
    color:#666;
    padding:5px 20px;
    
 }
.home .image{
    flex:1 1 39rem;
}
.home .image img{
    width:100%;
}
.home .blah1 .btn{
    padding-right: 20%;
    padding-left: 20%;
}
.more{
    color:#666;
    font-size: 2.5rem;
    padding:1rem 0;
    text-align:center;
   background-color:#ffbb99;
}
.more .gallery{
    margin: 5px;
  float: left;
  width: 300px;
  padding-left: 5rem;
}
.more .gallery img{
    width: 100%;
  height: auto;
  padding: 1.5rem;
}
.more .gallery p{
    color:#666;
    font-size: 2.5rem;
    padding:1rem 0;
    text-align:center;
 }

 .footer{
    background:#282727;
    padding:1rem 7%;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
    font-weight: normal;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
}

.footer .box-container .box a{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:var(--pink);
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:var(--pink);
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    border-top: .2rem solid rgba(255,255,255,.7);
    padding:2rem 1rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff;
}

.footer .credit a{
    color:var(--pink);
}





@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .home::before,
    .home::after{
        display: none;
    }

}

@media (max-width:768px){


    header #menu-bar{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:8rem; left:0;
        width:100%;
        background:var(--yellow);
        border-top: .2rem solid rgba(0,0,0,.1);
        transform:scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    header .navbar ul{
        flex-flow: column;
        padding:2rem;
    }

    header .navbar ul li{
        margin:1.5rem;
        width: 100%;
    }

    header .navbar ul li a{
        display: block;
        color:#fff;
        padding-left: 2rem;
        border-left: .2rem solid #fff;
        font-size: 2rem;
    }

    header .navbar ul li a:hover,
    header .navbar ul li a.active{
        color:#333;
        border-color: #333;
    }
    .fa-times{
        transform:rotate(180deg);
    }

    header .navbar.nav-toggle{
        transform:scaleY(1);
        opacity: 1;
    }

}
@media (max-width:500px){

    html{
        font-size: 50%;
    }

    section{
        padding:1rem 5%;
        padding-top: 8.5rem;
    }
}